<template>
  <q-page padding>
    <q-breadcrumbs>
      <q-breadcrumbs-el label="Home" :to="{ name: 'GeneralIndex' }" />
      <q-breadcrumbs-el label="Cats" />
    </q-breadcrumbs>

    <h2>Cat Facts</h2>
    <facts-list :fact-store="catsStore" />
  </q-page>
</template>

<script lang="ts" setup>
import FactsList from 'src/components/FactsList.vue'
import useCatsStore from 'src/stores/cats'
const catsStore = useCatsStore()
</script>
