<template>
  <q-dialog :model-value="modelValue" @before-show="assign" persistent>
    <q-card class="facts-form-dialog">
      <q-form @submit.prevent="submit">
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">
            {{ fact?.id ? "Update Fact" : "Create Fact" }}
          </div>
          <q-space />
        </q-card-section>

        <q-card-section>
          <q-input
            outlined
            v-model="value"
            label="Fact"
            :rules="[(value) => !!value || 'A fact is Required']"
          />
        </q-card-section>
        <q-separator />

        <q-card-actions align="right">
          <q-btn
            label="Cancel"
            flat
            color="primary"
            @click="close"
            class="q-mx-xs"
          />
          <q-btn
            type="submit"
            color="positive"
            label="Save Fact"
            class="q-mx-xs"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { Fact } from 'src/models/Fact'
import { ref, defineComponent } from 'vue'
export default defineComponent({
  name: 'FactFormDialog'
})
</script>
<script lang="ts" setup>
interface Props {
  onSubmit(fact: Fact): void,
  fact?: Fact,
  modelValue: boolean
}

const props = defineProps<Props>()

const emit = defineEmits(['update:modelValue'])

const value = ref(props.fact?.fact || '')

const submit = () => {
  props.onSubmit({ id: props.fact?.id, fact: value.value })
  close()
}

const assign = () => {
  value.value = props.fact?.fact || ''
}

const close = () => {
  emit('update:modelValue', false)
  value.value = ''
}

</script>
<style scoped>
.facts-form-dialog {
  width: 700px;
  max-width: 80vw;
}
</style>
