<template>
  <div>
    <q-btn
      label="Add New Fact"
      icon="add"
      color="positive"
      class="q-mb-md"
      @click="openDialog()"
    />

    <q-scroll-area v-if="pagination.rowsNumber > 0" style="height: 550px">
      <q-infinite-scroll @load="onLoad" :offset="500">
        <div class="row">
          <div
            v-for="(item, index) in factStore.facts"
            :key="index"
            class="col-xs-12 col-sm-4 col-md-3 col-lg-2"
          >
            <fact-card
              :fact="item"
              @edit-fact="openDialog(item)"
              @delete-fact="deleteFact(item.id)"
            />
          </div>
        </div>

        <template v-slot:loading>
          <div class="row justify-center q-my-md">
            <q-spinner-dots color="primary" size="40px" />
          </div>
        </template>
      </q-infinite-scroll>
    </q-scroll-area>

    <q-banner v-else-if="!loading" class="bg-primary text-white text-center">
      <h5>No data here :( hint: run the seeders</h5>
    </q-banner>

    <facts-form-dialog
      :onSubmit="submit"
      :fact="selectedFact"
      v-model="toggleDialog"
    />
  </div>
</template>

<script lang="ts">
import { Fact } from 'src/models/Fact'
import FactCard from './FactCard.vue'
import FactsFormDialog from './FactsFormDialog.vue'
import { defineComponent, onMounted, ref } from 'vue'
import { useQuasar } from 'quasar'
export default defineComponent({
  name: 'FactList'
})
</script>
<script lang="ts" setup>

interface Props {
  factStore: never,
}
const prop = defineProps<Props>()

const loading = ref(false)
const toggleDialog = ref(false)

const pagination = ref({
  page: 1,
  rowsPerPage: 25,
  rowsNumber: 0,
  finished: false
})
const facts = ref<Fact[]>([])
const selectedFact = ref<Fact>()
const $q = useQuasar()

function openDialog (fact?: Fact) {
  selectedFact.value = fact
  toggleDialog.value = !toggleDialog.value
}

const triggerPositive = (message: string) => {
  $q.notify({
    type: 'positive',
    message,
    position: 'top'
  })
}

function submit (fact: Fact) {
  if (fact.id) {
    prop.factStore.updateFact(fact.id as number, { fact: { value: fact.fact } })
  } else {
    prop.factStore.storeFact({ fact: { value: fact.fact } })
  }
  toggleDialog.value = false
  triggerPositive('Saved Successfully')
}

function deleteFact (id: number) {
  if (
    confirm(
      'Are you sure you want to delete this fact? THIS ACTION CANNOT BE UNDONE!'
    )
  ) {
    prop.factStore.deleteFact(id)
  }
}

function onRequest (props: {
  pagination: { page: number; rowsPerPage: number };
}) {
  const { page, rowsPerPage } = props.pagination

  loading.value = true

  prop.factStore.getAllFacts({ pageSize: rowsPerPage, page }).then((resp: any) => {
    loading.value = false
    pagination.value.rowsPerPage = resp.data.per_page
    pagination.value.page = resp.data.current_page
  })
}

function randIndex () {
  const rows = pagination.value.rowsNumber
  const perPage = pagination.value.rowsPerPage
  return Math.ceil(Math.random() * (rows / perPage))
}

function onLoad (index: number, done: CallableFunction) {
  if (prop.factStore.facts.length >= pagination.value.rowsNumber && pagination.value.rowsNumber > 0) {
    index = randIndex()
  }

  loading.value = true

  prop.factStore
    .getAllFacts({ pageSize: pagination.value.rowsPerPage, page: index })
    .then(() => {
      loading.value = false
      if (prop.factStore.facts.length > 0) {
        done()
        return
      }

      done()
      loading.value = false
    })
}

onMounted(() => {
  loading.value = true

  prop.factStore
    .getAllFacts({ pageSize: pagination.value.rowsPerPage })
    .then((resp: any) => {
      pagination.value.rowsNumber = resp.data.total as number
      loading.value = false
    })
})
</script>
