<template>
  <q-card flat bordered class="q-ma-xs">
    <q-card-section>
      <div class="text-h">{{ fact?.fact }}</div>
    </q-card-section>

    <q-separator />

    <q-card-actions align="around">
      <q-btn
        size="sm"
        label="Edit"
        flat color="primary"
        class="q-ma-none"
        icon-right="edit"
        @click="$emit('editFact', fact)"
      />
      <q-btn
        size="sm"
        label="Delete"
        flat
        color="negative"
        class="q-ma-none"
        icon-right="delete"
        @click="$emit('deleteFact', fact?.id)"
      />
    </q-card-actions>
  </q-card>
</template>

<script lang="ts">
import { Fact } from 'src/models/Fact'
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'FactCard'
})
</script>
<script lang="ts" setup>
interface Props {
  fact?: Fact,
}
defineProps<Props>()
</script>
