<template>
  <q-page padding>
    <q-breadcrumbs>
      <q-breadcrumbs-el label="Home" :to="{ name: 'GeneralIndex' }" />
      <q-breadcrumbs-el label="Dogs" />
    </q-breadcrumbs>

    <h2>Dog Facts</h2>
    <facts-list :fact-store="dogsStore" />
  </q-page>
</template>

<script lang="ts" setup>
import FactsList from 'src/components/FactsList.vue'
import useDogsStore from 'src/stores/dogs'
const dogsStore = useDogsStore()
</script>
